<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="assets/img/iconNejo.png">


    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/styles.css">

    <title>Nejo | Nuevas formas de trabajar</title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <img href="#" id="logoNav" class="nav__logo__img" src="assets/img/NejoWithBackground.png" alt="">
            <!-- <a  href="#" class="nav__logo">Nejo</a> -->

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">Nosotros</a>
                    </li>
                    <li class="nav__item">
                        <a href="#services" class="nav__link">Servicios</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">Contactanos</a>
                    </li>

                    <i class='bx bx-toggle-left change-theme' id="theme-button"></i>
                </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-grid-alt'></i>
            </div>

            <a href="#" class="button button__header open-modal">Descargar</a>
        </nav>
    </header>

    <main class="main">
        <div class="background">
            <svg class="background_image" xmlns="http://www.w3.org/2000/svg" width="796.057" height="828.494"
                viewBox="40 86.571 446.057 828.494">
                <defs>
                    <linearGradient id="b" gradientTransform="rotate(255 .5 .5)">
                        <stop offset="0%" stop-color="rgba(255, 255, 255, 0)" />
                        <stop offset="50%" stop-color="rgba(255, 190, 170, 0.1)" />
                        <stop offset="100%" stop-color="#FF6E40" />
                    </linearGradient>
                    <clipPath id="a">
                        <path fill="currentColor"
                            d="M805.5 590.5q-56.5 90.5-115 203t-193 121Q363 923 305 803.5T127 592Q7 500 52.5 354T251 206.5q153-1.5 277-87t181 51q57 136.5 105 233t-8.5 187Z" />
                    </clipPath>
                </defs>
                <g clip-path="url(#a)">
                    <path fill="url(#b)"
                        d="M805.5 590.5q-56.5 90.5-115 203t-193 121Q363 923 305 803.5T127 592Q7 500 52.5 354T251 206.5q153-1.5 277-87t181 51q57 136.5 105 233t-8.5 187Z" />
                </g>
            </svg>
        </div>

        <div id="modal" class="modal">

            <div class="modal-content">
                <a href="#" id="close-modal" class="close-icon"><i class="material-icons">close</i></a>
                <img href="#" src="assets/img/NejoWithBackground.png" alt="" width="150px">
                <h2>Cuenta regresiva:</h2>
                <p id="countdown"></p>
                <p class="message-modal">No te pierdas el lanzamiento de nuestra nueva aplicación. <br>Únete a nuestra
                    comunidad y recibe
                    notificaciones sobre su disponibilidad en las tiendas de aplicaciones.</p>
                <a href="#contact" id="button-modal" class="button button-flex">
                    ¡Suscribirme ahora!
                </a>
            
            </div>
        </div>
        <!--=============== HOME ===============-->
        <section class="home section" id="home">
            <div class="home__container container grid">


                <div class="home__data">
                    <div id="div-titulo">
                        <h1 class="home__title move-from-left" id="titulo-animado">Comienza hoy mismo a explorar nuevas formas de vida en el extranjero</h1>
                    </div>
                    <!-- <h1 class="home__title">Seguridad</h1> -->
                    <div class="home__space"></div>
                    <p class="home__description">Nejo es una app que transformó la búsqueda de empleo en el extranjero
                        en un proceso fácil y seguro para los trabajadores latinoamericanos.
                    </p>
                    <div class="app__buttons">
                        <a href="#" class="button button-flex open-modal">
                            <i class='bx bxl-apple button__icon'></i> App Store
                        </a>
                        <a href="#" class="open-modal button button-flex">
                            <i class='bx bxl-play-store button__icon'></i> Google Play
                        </a>
                    </div>


                </div>
                <div class="home__container_image">
                    <!-- <img class="home__img" src="assets/img/BaseIphoneHome.png" alt="logo"> -->
                    <div class="card card1 move-from-right">
                        <div class="container-company">
                            <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png"
                                alt="Logo de Google">
                            <div class="details-company-container">
                                <div class="company-name">Google</div>
                                <div class="location-container">
                                    <i class="material-icons location-icon">location_on</i>
                                    <div class="location">Canadá</div>
                                </div>
                            </div>
                            <div class="save-logo">
                                <i class="material-icons bookmark-icon">bookmark</i>
                            </div>
                        </div>
                        <div class="container-toronto">
                            <img class="toronto" src="assets/img/torontoCanada.png" alt="Toronto, Canadá">
                            <div class="overlay">Toronto - Canadá</div>

                        </div>


                        <div class="info-container">

                            <div class="job-title">Ingeniero Industrial</div>
                            <div class="salary">Salario: 108.000 CAD anual</div>
                            <div class="time">Hace 24 días | 12 postulados</div>
                        </div>

                    </div>
                    <div class="card card2 move-from-right">
                        <div class="container-company">
                            <img src="assets/img/iconNejo.png" alt="Logo de Google">
                            <div class="details-company-container">
                                <div class="company-name">Nejo</div>
                                <div class="location-container">
                                    <i class="material-icons location-icon">location_on</i>
                                    <div class="location">Australia</div>
                                </div>
                            </div>
                            <div class="save-logo">
                                <i class="material-icons bookmark-icon">bookmark</i>
                            </div>
                        </div>
                        <div class="container-toronto">
                            <img class="toronto" src="assets/img/sidneyAustralia.jpg" alt="Australia, Sidney">
                            <div class="overlay">Sidney - Australia</div>
                        </div>


                        <div class="info-container">

                            <div class="job-title">Chef Senior</div>
                            <div class="salary">Salario: 80.000 AUD anual</div>
                            <div class="time">Hace 16 días | 4 postulados</div>
                        </div>

                    </div>


                </div>

            </div>
        </section>

        <!--=============== ABOUT ===============-->
        <section class="about section container" id="about">
            <div class="about__container grid">
                <div class="about__data">
                    <h2 class="section__title-center move-from-right">La startup latina que simplifica el proceso
                        migratorio
                        laboral<br></h2>
                    <!-- <p class="about__description">Somos una startup creada por estudiantes colombianos y apoyada por el
                        Tec de Monterrey.
                    </p> -->
                    <p class="about__description move-from-right">
                        Conectamos con oportunidades laborales a los trabajadores latinos y ayudamos a
                        empresas extranjeras a encontrar talentos calificados.
                    </p>
                    <p class="about__description move-from-right">
                        Únete a nuestra comunidad para hacer realidad tus sueños laborales en el extranjero.
                    </p>
                    <div class="about__contact move-from-right">
                        <a href="#contact ">Únete a nuestra comunidad</a>
                        <i class="material-icons arrow-icon">arrow_forward_ios</i>
                    </div>


                    <!-- <p>¡En Nejo, creemos en un futuro más sostenible y queremos que tú seas parte de él!</p> -->
                </div>

                <img class="svg__img svg__color about__img move-from-left" viewBox="0 0 312 236"
                    src="assets/img/AboutUs_Landing.png">

            </div>
        </section>

        <!--=============== SECURITY ===============-->
        <section class="security section container">
            <div class="security__container grid">
                <div class="security__data">
                    <h2 class="section__title-center">Características de Nejo</h2>
                    <p class="section__description-center">Nuestros principales estándares y objetivos para ofrecerte la mejor experiencia posible</p>
                    <!-- <p class="security__description">When your order reaches you, we have the health safety protocols,
                        so that you are protected from any disease. Watch the video of how the delivery is made.
                    </p> -->
                    <div class="container__quality move-from-left">
                        <div class="blob1"></div>
                        <img class="img_feature img__security" src="assets/img/SeguridadNejo.png" alt="">
                        <div class="qualities qualities__1">
                            <p class="title__qualities">Seguridad y Privacidad</p>
                            <p class="description_qualities">Tratamos los datos personales de nuestros usuarios con
                                medidas de protección robustas.</p>
                            <!-- y siempre mostramos la información a terceros con su consentimiento -->
                        </div>
                    </div>
                    <div class="container__quality move-from-left">
                        <div class="blob2"></div>
                        <img class="img_feature img__verify" src="assets/img/VerificarNejo.png" alt="">
                        <div class="qualities qualities__2">
                            <p class="title__qualities">Confianza</p>
                            <p class="description_qualities">Los empleos y servicios ofrecidos son verificados para
                                gantizar su valor</p>
                        </div>
                    </div>
                    <div class="container__quality move-from-left">
                        <div class="blob3"></div>
                        <img class="img_feature img__usability" src="assets/img/UsabilidadNejo.png" alt="">
                        <div class="qualities qualities__1">
                            <p class="title__qualities">Usabilidad</p>
                            <p class="description_qualities">Interfaz intuitiva y fácil de usar para la experiencia del
                                usuario</p>
                        </div>
                    </div>

                </div>
                <div class="app__views  ">

                    <img class="img_app 1 move-from-right" src="assets/img/AppProfileNejo.png">
                    <img class="img_app 2 move-from-right" src="assets/img/AppJobsNejo.png">
                    <img class="img_app 3 move-from-right" src="assets/img/AppHomeNejo.png">
                </div>



            </div>
        </section>

        <!--=============== SERVICES ===============-->
        <section class="services section container service_container" id="services">
            <h2 class="section__title">Algunos Servicios Que <br> Ofrecemos</h2>
            <div class="services__container grid">
                <div class="services__data">
                    <h3 class="services__subtitle">Compatibilidad</h3>
                    <img class="iconos" src="assets/Iconos/Compatibilidad.png" alt="">
                    <p class="services__description">Analizamos tu perfil y te brindamos una estimación precisa de tus
                        posibilidades de ser aceptado por la empresa que te interesa.</p>
                    <div>
                        <a href="#" class="button button-link">Leer más</a>
                    </div>
                </div>
                <div class="services__data">
                    <h3 class="services__subtitle">Control de Ofertas</h3>
                    <img class="iconos" src="assets/Iconos/Control_ofertas.png" alt="">
                    <p class="services__description">Accede a un seguimiento en nuestro sistema de Control de Ofertas. Conoce el
                        estado de tus aplicaciones en tiempo real y proyecta tu futuro laboral con confianza.</p>
                    <div>
                        <a href="#" class="button button-link">Leer más</a>
                    </div>
                </div>
                <div class="services__data">
                    <h3 class="services__subtitle">Portal de Empleos</h3>
                    <img class="iconos" src="assets/Iconos/Portal_empleo.png" alt="">
                    <p class="services__description">Accede a oportunidades laborales en cualquier país del mundo y
                        cumple tu sueño de vivir y trabajar en el exterior en la modalidad que prefieras.</p>
                    <div>
                        <a href="#" class="button button-link">Leer más</a>
                    </div>
                </div>

                <div class="services__data">
                    <h3 class="services__subtitle">Ayuda Migratoria</h3>
                    <img class="iconos" src="assets/Iconos/Ayuda_migratoria.png" alt="">
                    <p class="services__description">Agenda una cita con un experto en migración para que te brinde
                        asesoramiento personalizado y te guíe en cada paso de tu proceso. Obtén información sobre
                        visados, permisos, leyes y cómo adaptarte a tu nuevo país.</p>
                    <div>
                        <a href="#" class="button button-link">Leer más</a>
                    </div>
                </div>

                <div class="services__data">
                    <h3 class="services__subtitle">Plan Migratorio</h3>
                    <img class="iconos" src="assets/Iconos/Plan_migratorio.png" alt="">
                    <p class="services__description">Crea tu plan migratorio personalizado en minutos. Nuestro avanzado
                        software analiza tu perfil y profesión para identificar los países y visas más adecuadas para
                        ti.</p>
                    <div>
                        <a href="#" class="button button-link">Leer más</a>
                    </div>
                </div>


                <div class="services__data">
                    <h3 class="services__subtitle">Ayuda Laboral</h3>
                    <img class="iconos" src="assets/Iconos/Ayuda_laboral.png" alt="">
                    <p class="services__description">Con servicios regulados por expertos, podrás elaborar un CV y carta
                        de presentación que destaque en el extranjero, entrenarte para sobresalir en las entrevistas
                        internacionales, y tener acceso a traducción oficial confiable de tus documentos.</p>
                    <div>
                        <a href="#" class="button button-link">Leer más</a>
                    </div>
                </div>
            </div>
        </section>

        <!--=============== APP ===============-->
        <section class="app section container">
            <div class="app__container grid">
                <div class="app__data">
                    <h2 class="section__title-center move-from-right">Miles de empleadores extranjeros te están buscando <br> Solo falta
                        que descargues la app</h2>
                    <p class="app__description move-from-right">Únete a Nejo y sé parte de nuestro movimiento hacia un futuro de
                        oportunidades. ¡Juntos, podemos hacer que la búsqueda de empleo en el extranjero sea fácil y
                        segura para todos los trabajadores latinoamericanos!</p>
                    <div class="app__buttons">
                        <a href="#" class="button button-flex open-modal">
                            <i class='bx bxl-apple button__icon'></i> App Store
                        </a>
                        <a href="#" class="button button-flex open-modal">
                            <i class='bx bxl-play-store button__icon'></i> Google Play
                        </a>
                    </div>
                </div>


                <img class="svg__img svg__color app__img move-from-left" viewBox="0 0 312 256" src="assets/img/AppSearchImg.png">

            </div>
        </section>

        <!--=============== CONTACT US ===============-->
        <section class="contact section container" id="contact">
            <form id="my-form" method="post">
                <div class="contact__container grid">
                    <div class="contact__content">
                        <h2 class="section__title-center">
                           Contactanos<br>ahora
                        </h2>
                        <p class="contact__description">Suscribete a la comunidad Nejo LATAM.</p>
                        <div class="container__input">
                            <input type="text" id="nombre" name="nombre" placeholder="Nombres" class="name input">
                            <input type="text" id="apellido" name="apellido" placeholder="Apellidos"
                                class="lastname input">
                        </div>
                        <input type="email" name="email" placeholder="Ingresa tu correo" class="email input" id="email">

                        <select id="pais" name="pais">
                            <option value="">Destino deseado</option>
                            <option value="Canada">Canadá</option>
                            <option value="Australia">Australia</option>
                            <option value="Italy">Italia</option>
                            <option value="New Zealand">Nueva Zelanda</option>
                            <option value="Germany">Alemania</option>
                        </select>
                    </div>

                    <ul class="contact__content grid">
                        <li class="contact__address">Teléfono: <span class="contact__information">8131128625</span>
                        </li>
                        <li class="contact__address">Email: <span class="contact__information">nejouser@gmail.com</span>
                        </li>
                        <li class="contact__address">1° Ubicación: <span class="contact__information">Monterrey -
                                México</span>
                        </li>
                        <li class="contact__address">2° Ubicación: <span class="contact__information">Colombia</span>
                        </li>

                    </ul>

                    <div class="contact__content">
                        <button type="submit" class="button">Suscribirme</button>

                    </div>
                </div>
            </form>
        </section>
    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">Nejo</a>
                <p class="footer__description">Encuentra empleo Rápido <br> Fácil</p>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Servicos</h3>
                <ul class="footer__links">
                    <!-- <li><a href="#" class="footer__link">Pricing </a></li>
                    <li><a href="#" class="footer__link">Discounts</a></li> -->
                    <li><a href="#" class="footer__link">Política de privacidad</a></li>
                    <li><a href="#" class="footer__link">Términos de servicio</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Nosotros</h3>
                <ul class="footer__links">
                    <li><a href="#" class="footer__link">Blog</a></li>
                    <li><a href="#" class="footer__link">Nuestra misión</a></li>

                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Comunidad</h3>
                <ul class="footer__links">
                    <li><a href="https://chat.whatsapp.com/I5K805KP8HEK2SojpD9E4u" class="footer__link">Grupo Whatsapp</a></li>
                    <li><a href="#" class="footer__link">Soporte</a></li>
                    <li><a href="#" class="footer__link">Preguntas</a></li>
                    <!-- <li><a href="#" class="footer__link">Customer help</a></li> -->
                </ul>
            </div>

            <div class="footer__social">
                <!-- <a href="#" class="footer__social-link"><i class='bx bxl-facebook-circle '></i></a>-->
                <!--<a href="#" class="footer__social-link"><i class='bx bxl-twitter'></i></a>-->
                <a href="https://www.instagram.com/nejojob/" class="footer__social-link"><i
                        class='bx bxl-instagram-alt'></i></a>
            </div>
        </div>

        <p class="footer__copy">&#169; NejoColombia. All right reserved</p>
    </footer>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class='bx bx-up-arrow-alt scrollup__icon'></i>
    </a>

    <!--=============== MAIN JS ===============-->
    <script src="main.js">
    </script>
    <script>


        window.addEventListener("load", function () {
            const form = document.getElementById('my-form');
            form.action = "<%= varenv %>";

            form.addEventListener("submit", function (evento) {
                evento.preventDefault(); // Evita que se envíe el formulario

                const nombre = document.getElementById('nombre').value;
                const apellido = document.getElementById('apellido').value;
                const email = document.getElementById('email').value;

                if (nombre === '' || email === ''|| apellido === '') {
                    alert('Por favor, completa todos los campos'); // Muestra un mensaje de error
                    return;
                }
                const data = new FormData(form);
                const action = evento.target.action;

                fetch(action, {
                    method: 'POST',
                    body: data,
                })
                    .then(() => {
                        alert("Success!");
                    });
            });
        });

    </script>

</body>

</html>